[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
TerminalOptions=bash
Exec=bash -c "/home/all/autonomy_stack_mecanum_wheel_platform/system_real_robot_with_exploration_planner.sh"
Icon=/home/all/start.png
Name=Application
Name[en_US]=start_system_with_exploration_planner.desktop
